<div class="container pt-5 my-5 z-depth-1 about">
    <section class="p-md-3 mx-md-5">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-6 mb-4">
                <h2 class="font-weight-bold mb-3">عن موقع أسعار العملات في مصر</h2>
                <p class="text-muted pt-3">
                    فى ظل سياسة تعويم الجنيه المصرى أمام العملات الاجنبية التى اتبعتها الدولة المصرية وتأْثير سعر الدولار على جميع السلع والخدمات وقيمة الجنية المصرى وقوته الشرائيه أَصْبَحَ لدى المصريين حاجة ماسة الى متابعة سعر العملات خصوصأ وان أسعار العملات تتغير باستمرار .لذلك كانت الفكرة من إنشاء هذا الموقع فى محاولة لتلبية احتياجات المصريين
                    <br />
                    <br />
                    <h4 class="font-weight-bold mb-3">
                        طريقة عمل الموقع
                    </h4>
                    <br />
                    <span>
                        الموقع يمتلك محرك بحدث داخلى خاص . يقوم هذا المحرك باستمرار بفهرسة أسعار العملات فى جميع البنوك المصرية
                    </span>
                    <br />

                    <span>
                        الموقع يمتلك أرشيف لأسعار العملات منذ قرار تعويم الجنيه المصري يمكنك الرجوع الى هذا الأرشيف من خلال تحديد التاريخ الذى تريد البحث عنه .الموقع يقوم بتحديث الأسعار كل عدة دقائق
                    </span>
                </p>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center mb-md-0 mb-5">
                <i class="fa fa-layer-group indigo-text fa-10x"></i>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="far fa-paper-plane indigo-text pr-2"></i> الموقع يشمل جميع العملات
                </h6>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="fas fa-pen-alt green-text pr-2"></i> الموقع يشمل جميع البنوك
                </h6>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="fas fa-user amber-text pr-2"></i> يوفر مساحة للتعليق
                </h6>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="fas fa-rocket red-text pr-2"></i> أسعار الذهب
                </h6>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="far fa-paper-plane indigo-text pr-2"></i> أرشيف للأسعار التارخية للذهب
                </h6>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="fas fa-pen-alt green-text pr-2"></i> دليل مكينات الصراف الالى
                </h6>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="fas fa-user amber-text pr-2"></i> دليل البنوك
                </h6>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h6 class="font-weight-bold mb-3">
                    <i class="fas fa-rocket red-text pr-2"></i> دليل شركات الصرافه
                </h6>
            </div>
        </div>
    </section>
</div>

@*<div class="col-lg-12">
    <div class="portlet light about-text">
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-unstyled margin-top-10 margin-bottom-10">
                    <li>
                        <i class="fa fa-check"></i> الموقع يشمل جميع العملات
                    </li>
                    <li>
                        <i class="fa fa-check"></i> الموقع يشمل جميع البنوك
                    </li>
                    <li>
                        <i class="fa fa-check"></i> أرشيف للأسعار التارخية لجميع العملات
                    </li>
                    <li>
                        <i class="fa fa-check"></i> أسعار الذهب
                    </li>
                    <li>
                        <i class="fa fa-check"></i> أرشيف للأسعار التارخية للذهب
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-unstyled margin-top-10 margin-bottom-10">
                    <li>
                        <i class="fa fa-check"></i> دليل البنوك
                    </li>
                    <li>
                        <i class="fa fa-check"></i> دليل شركات الصرافه
                    </li>
                    <li>
                        <i class="fa fa-check"></i> دليل مكينات الصراف الالى
                    </li>
                    <li>
                        <i class="fa fa-check"></i> يوفر مساحة للتعليق
                    </li>
                    <li>
                        <i class="fa fa-check"></i> خدمه الرسائل والتنبيهات
                    </li>
                </ul>
            </div>
        </div>
        <div class="about-quote h-card">
            <p class="p-summary">جميع الأسعار تحدث تلقائياً كل كل عدة دقائق</p>
            <p> <a class="about-author u-email" href="mailto:MohamedFawzy616@gmail.com">MohamedFawzy616@gmail.com</a></p>
            <p>
                <a class="p-name u-url" href="http://egyptcurrencyrates.com">Egypt Currency Rates</a>
                | <a class="p-name u-url" href="https://t.co/qlEW6gEKuP?amp=1">انضم الى واتس اب</a>
                | <a class="p-name u-url" href="https://t.co/V7nL4sbt6v?amp=1">انضم الى تلجرام</a>
                | <a class="p-name u-url" href="https://twitter.com/DollarTodaySite">انضم تويتر</a>

                | <a class="p-name u-url" href="https://www.facebook.com/DollarTodaySite">صفحة الفيس بوك</a>
                | <a class="p-name u-url" href="https://www.facebook.com/groups/324392078013172">جروب الفيس بوك</a>
            </p>

        </div>
        <div class="col-lg-12">
            <div class="portlet">
                <img src="~/Images/ogp.png" alt="egyptcurrencyrates.com ogp" class="u-photo" style="margin-top: 17px;" />
            </div>
        </div>
    </div>
</div>*@