<div class="container my-5 z-depth-1 policy">
    <section class="dark-grey-text p-5">
        <div class="row">
            <div class="col-md-5 mb-4 mb-md-0">
                <div class="view">
                    <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" class="img-fluid" alt="smaple image">
                </div>
            </div>
            <div class="col-md-7 mb-lg-0 mb-4 content">
                <form class="" action="">
                    <h3 class="font-weight-bold my-3">سياسة موقع أسعار العملات في مصر</h3>

                    <h4 class="mb-4 pb-2">
                        سياسة الموقع التى تحدد منهجة وطريقة عمله يمكن تلخيصها فى عددة نقاط
                    </h4>

                    <h6 class="text-muted mb-4 pb-2">
                        الموقع لا يروج لاى بنك من البنوك
                    </h6>
                    <h6 class="text-muted mb-4 pb-2">
                        الموقع لا هدفة تجارة العملة
                    </h6>
                    <h6 class="text-muted mb-4 pb-2">هدف الموقه هو توفير المعلومة للمستخدم فقط</h6>
                    <h6 class="text-muted mb-4 pb-2">الموقع يعتمد على الأسعار المعلنة من قبل البنوك</h6>
                    <h6 class="text-muted mb-4 pb-2">الموقع لا يدخل مع اى تعاملات مع العملاء</h6>
                    <h6 class="text-muted mb-4 pb-2">الموقع لا يدخل مع اى تعاملات مع العملاء</h6>
                    <h6 class="text-muted mb-4 pb-2">وضعت هذه البنود من اجل توفير خدمة اخترافية</h6>
                </form>
            </div>
        </div>
    </section>
</div>