<div class="container my-5 py-5 z-depth-1 privacy">
    <section class="px-md-5 mx-md-5 dark-grey-text text-center text-lg-left">
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0 content">
                <img src="https://mdbootstrap.com/wp-content/uploads/2018/06/logo-mdb-jquery-small.png" class="img-fluid mb-5"
                     alt="">
                <h1 class="font-weight-bold">
                    @ViewBag.Title
                </h1>
                <p class="text-muted">
                    عملينا العزيز خصوصيتك لها الأهمية القصوى لدينا : لذلك نود ان نحيطكم علماً بان خصوصيك فى حفظ تام ، فنحن لا نجمع معلومات عنك من اى نوع ، كما ان الموقع لا يقوم بوضع
                    اى ملفات كوكيز على جهازك الشحصى .
                </p>
                <div class="text-muted">
                    <p>هدفنا الاسمى ان نقدم لك معلومه توفر عليك الوقت والجهد</p>
                </div>
                <div class="text-muted">
                    <p>Mohamed Fawzy</p>
                </div>
            </div>
            <div class="col-lg-5 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
                <i class="fas fa-gem fa-10x blue-text"></i>
            </div>
        </div>
    </section>
</div>