<footer class="page-footer font-small cyan darken-3">
        <div class="container text-center text-md-center">
            <div class="row">
                <div class="list">
                    <h6 class="font-weight-bold text-uppercase mt-3 mb-4">روابط مهمة</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a  hreflang="EG-ar" href="/">الرئيسية</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar" href="/Currency/About">من نحن</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar" href="/Currency/Policy">سياستنا</a>
                        </li>
                        <li>
                            <a  hreflang="EG-ar" href="/Currency/Privacy">الخصوصية</a>
                        </li>
                        <li>
                        <a hreflang="EG-ar" href="https://chat.whatsapp.com/KqsJcDmywvxA0ZmaZnGeIe">انضم الى واتس اب</a>
                        </li>
                        <li>
                        <a hreflang="EG-ar" href="https://t.me/+CLreE-oOIlAxOWU8">انضم الى تلجرام</a>
                        </li>
                    </ul>
                </div>
                @*<hr class="clearfix w-100 d-md-none">*@
                <div class="list">
                    <h6 class="font-weight-bold text-uppercase mt-3 mb-4">أهم البنوك</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a  hreflang="EG-ar" href="/Bank/البنك-الاهلى-المصرى">البنك الاهلى المصرى</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Bank/بنك-مصر">بنك مصر</a>
                        </li>
                        <li>
                            <a  hreflang="EG-ar" href="/Bank/بنك-الاسكندرية">بنك الاسكندرية</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Bank/مصرف-ابوظبي-الاسلامي">مصرف ابوظبي الاسلامي</a>
                        </li>
                        <li>
                        <a hreflang="EG-ar" href="/Bank/البنك-المركزي-المصري">البنك المركزي المصري</a>
                        </li>
                        <li>
                            <a  hreflang="EG-ar" href="/Bank/(CIB)-البنك-التجارى-الدولى">(CIB) البنك التجارى الدولى</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Bank/HSBC-بنك">HSBC بنك</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Bank/المصرف-المتحد">المصرف المتحد</a>
                        </li>
                        <li>
                            <a  hreflang="EG-ar" href="/Bank/البنك-الاهلي-الكويتي-بيريوس">البنك الاهلي الكويتي بيريوس</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="list">
                    <h6 class="font-weight-bold text-uppercase mt-3 mb-4">أهم العملات</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a hreflang="EG-ar"  href="/Currency/الدولار">الدولار</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Currency/اليورو">اليورو</a>
                        </li>
                        <li>
                            <a  hreflang="EG-ar" href="/Currency/الريال-السعودي">الريال السعودي</a>
                        </li>
                        <li>
                            <a  hreflang="EG-ar" href="/Currency/الإسترليني">الإسترليني</a>
                        </li>
                        <li>
                            <a  hreflang="EG-ar" href="/Currency/الدرهم-الإماراتي">الدرهم الإماراتي</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Currency/الريال-السعودي">الريال السعودي</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Currency/الدينار-الكويتي">الدينار الكويتي</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Currency/الريال-القطري">الريال القطري</a>
                        </li>
                        <li>
                            <a hreflang="EG-ar"  href="/Currency/الدولار-الكندى">الدولار الكندى</a>
                        </li>
                    </ul>
                </div>
                @*<hr class="clearfix w-100 d-md-none">*@
                @*  <div class=" list">
            <h6 class="font-weight-bold text-uppercase mt-3 mb-4">مواقع صديقة</h6>

            <ul class="list-unstyled">
                <li>
                    <a href="https://guidesaudi.com">دليل السعودية</a>
                </li>
                <li>
                    <a href="https://guideemirates.com">دليل الامارات</a>
                </li>
                <li>
                    <a href="https://guidesaudi.com">دليل السعودية</a>
                </li>
                <li>
                    <a href="https://3enwany.com">دليل عنواني المصري</a>
                </li>
                <li>
                    <a href="https://matrixcalculatoronline.com">حاسبة المصروفات</a>
                </li>

            </ul>
        </div>*@
            </div>
        </div>



        <hr />
        <div class="row social">
            <a class="fb-ic" href="https://www.facebook.com/Fawzy616/">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="tw-ic" href="https://twitter.com/MohamedFawzy616">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="gplus-ic" href="https://www.facebook.com/Fawzy616/">
                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="li-ic" href="https://www.facebook.com/Fawzy616/">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="ins-ic" href="https://www.instagram.com/mohamedfawzy616/">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
        </div>
        <div class="footer-copyright text-center py-3">
            <a  hreflang="EG-ar" href="https://egyptcurrencyrates.com/"> EgyptCurrencyRates</a> © Copyright : @DateTime.Now.Year

        </div>
    </footer>