<div class="container my-5 py-5 z-depth-1 integration">

    <section class="px-md-5 mx-md-5 dark-grey-text text-center">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-3 col-6 mb-4">
                        <i class="fas fa-gem fa-3x blue-text"></i>
                    </div>
                    <div class="col-md-3 col-6 mb-4">
                        <i class="fas fa-chart-area fa-3x teal-text"></i>
                    </div>
                    <div class="col-md-3 col-6 mb-4">
                        <i class="fas fa-cogs fa-3x indigo-text"></i>
                    </div>
                    <div class="col-md-3 col-6 mb-4">
                        <i class="fas fa-cloud-upload-alt fa-3x deep-purple-text"></i>
                    </div>
                </div>
                <h1 class="font-weight-bold">
                    @ViewBag.Title
                </h1>
                <p>
                    يتيح لك موقع أسعار العملات في مصر أسعار العملات فى مختلف البنوك المصرية وأسعار الذهب وكذلك بيانات البنوك التي تشمل فروعها وبيانات اتصالها وعناوينها وكذلك ماكينات الصراف الالي
                    لجميع البنوك .سواء كنت تريدها لموقعك او لتطبيق الكتروني او مدونة.من خلال
                    API
                    او من خلال ويدجت.
                </p>
                <p>
                    وذلك بشكل مجاني فى مقابل اضافة روابط باك لينك لموقع أسعار العملات في مصر فى موقعك او مدونتك او تطبيقك
                </p>
                @*<p>
                    لطلب البيانات يرجي التواصل معنا على الهاتف 01064063978
                </p>
                <p>هدفنا الاسمى ان نقدم لك معلومه توفر عليك الوقت والجهد</p>
                <p>Mohamed Fawzy</p>*@
            </div>
        </div>
    </section>
</div>